body{
    background-color: #d7d5d5;
    min-width:700px;
    max-width: 1080px;
    margin:auto;
}
.bl-product{
    line-height: 100%;
    background: #FFF;
}
.button{
    height: 30px;
    width: 100%;
}
.name-prod{
    margin-left: 5%;
    height: 27px;
    width:70%;
    background: #FFF;
    border: 2px solid #d7d7d7;
    color: #000000;
    font:14px Florence, cursive;
    border-radius: 3px;
}
.button-add-prod{
    height: 33px;
    width: 24%;
    background: #2185D0;
    color:white ;
    font-weight:bold;
    border-radius: 5px 5px 5px;
    padding-top: -2px;
    /*padding-bottom: 8px;*/
    margin: 0 0 0 -1%;
    border: none;
    box-shadow: 0 2px #66abc5;
    font-size: 100%;
    min-height:100%;
    vertical-align: middle;
    font:14px Florence, cursive bold;


}
.hr{

    border: none;
    background-color: #cdcbcb;
    color: #cdcbcb;
    height: 2px;

}
.bl-background {
    padding: 50px;
    min-width: 680px;
    max-width: 1080px;
}

.product{
    margin: 10px 5px;
    width: 100%;
    height: 30px;
    display: flex;
}

.bl-list {

    box-shadow: 5px 5px 5px grey;
    background: white;
    margin: 50px 25px;
    width: 60%;
    height: auto;
    min-width:100px;
}

.bl-bought {
    box-shadow: 5px 5px 5px grey;
    height:230px;
    width: 20%;
    background:	white;
    float:	right;
    min-width:150px;
    margin: 50px 25px;

}
@media(max-width: 680px){
    .bl-bought{
        width: 90%;
        margin: 0;
        float: left;
        margin-top: 20px;
        margin-left: 10px;
        display: block;

    }
    .bl-list{
        width: 90%;
        margin: 0;
        float: left;
        margin-top: 20px;
        margin-left: 10px;
    }
    .bl-background{
        padding: 0;
        min-width: 100px;
    }
}
.bl-lists{
    line-height: 50px;
    margin-left: 10px;
    padding-right:100px; ;
    text-align:center;
    padding:6px 4px;
    border-radius: 4px;
    font:14px Arial, Helvetica, sans-serif;
    color:#000000;
    background: #cdcbcb;
}
.bl-lists1{
    margin-left:5px;
    padding:2px 6px;
    border-radius: 10px;
    font:11px Arial, Helvetica, sans-serif;
    color:#000000;
    background: orange;
}

.bl-title{

    font-family: "Georgia", Times, serif;
    font-weight:bold;
    width: 100px;
    height: 38px;

    margin-top: 20px;
    margin-left:20px;
    left: 40%;
}
.bl-title1{
    font-family: "Georgia", Times, serif;
    font-weight:bold;
    width: 100px;
    height: 38px;

    margin-top: 20px;
    margin-left:20px;
    left: 40%;
}
.bl-count{
    width: 40%;
}
.name{
    width: 30%;
    margin: 2px 2px;
}

.bl-button{
    width: 30%;
}

/*Кнопки*/
.bl-label {
    text-align:center;
    padding:2px 6px;
    border-radius: 4px;
    font:16px Arial, Helvetica, sans-serif;
    color:#000000;
    background: #cdcbcb;

}
.bl-plus {
    text-align:center;
    padding:2px 6px;
    border-radius: 50px;
    font:15px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #38ad5d;
    background-color:#3bc740;
    text-shadow: 1px 0px 3px #ffffff;
}
.bl-minus{
    padding:2px 6px;
    border-radius: 50px;
    font:16px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#ffffff;
    background-color:#ff0000;
    text-shadow: 1px 0px 3px #ffffff;

}
.bl-buttons{
    margin-top:6px;
    margin-bottom:8px;



}
.bl-buttons1{
    padding:2px 8px;
    border-radius: 5px;
    font:13px "Times New Roman", Times, serif;
    font-weight:bold;
    color:#ffffff;
    background-color:#ff0000;
}